<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>gifLib | Home</title>
</head>
<body>
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Debitis in laborum minima qui totam.
    Amet atque consequatur eveniet iure
    labore magnam, nobis nostrum, officia
    quo unde ut vero voluptatibus voluptatum.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/001_Tacos_de_carnitas%2C_carne_asada_y_al_pastor.jpg/1200px-001_Tacos_de_carnitas%2C_carne_asada_y_al_pastor.jpg" />
</body>
</html>